<script>
  function copySlug(url){
    navigator.clipboard.writeText(url);
    alert('copied: ' + url);
  }
</script>
<div>
<div>
  <div>
    <input form="main-form"
           class="block w-full border-0 p-0 font-thin bg-transparent tracking-wide text-6xl focus:border-0 focus:ring-2 focus:ring-inset focus:ring-transparent {{ class_name }}"
           type="text"
           placeholder="{{ label }}"
           name=":name"
           value="{{ item.name }}"
           required
    >
    <div class="flex flex-row text-sm">
      <label class="inline text-nowrap opacity-40" for="slug">https://{{ section.settings.base_url | default: request.host }}/</label>
      <input form="main-form" class="border-0 p-0 bg-transparent w-full text-sm leading-none" type="text" name=":slug" value="{{ item.slug }}" id="slug" placeholder="slug" pattern="[a-z0-9-]+" required/>
      <!--click to copy to clipboard -->
      <span class="text-xs select-none cursor-pointer text-nowrap flex items-center" onclick="copySlug(`https://{{ landing | default: request.host }}/${document.getElementById('slug').value}`)"><i class="fa-sharp fa-regular fa-copy me-1"></i> copy</span>
    </div>
  </div>

  <div class="w-3/12">
    <div>
      <div class="my-4">
        {% if published %}
          <a
              class="inline-block transition duration-500 rounded-lg px-8 py-2 uppercase text-base leading-8 font-sans text-white bg-gray-500 hover:bg-gray-900 cursor-pointer"
              href="/admin/pages/un-publish/{{ item.id }}?language={{ language }}">Un-Publish</a>
          {% if sync != true%}<button
              class="inline-block transition duration-500 rounded-lg px-8 py-2 uppercase text-base leading-8 font-sans text-white bg-primary hover:bg-gray-900 cursor-pointer"
              type="submit" form="main-form" name="action" value="publish">Update Live Version</button>{% endif %}
        {% else %}
          {% capture untitled_name %}Untitled {{ page_type }}{% endcapture %}
          {% if item.name != untitled_name %}
            <button form="main-form" type="submit" name="action" value="publish" class="button-primary">Publish</button>
          {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="hidden">
      {% render 'pagefield/date/range-tz', label: "From (+08:00)", selector:":start", value: item.start, label2: "To (+08:00)", selector2:":end", value2: item.end %}
    </div>
  </div>
</div>
</div>