<form id="search" action="/admin/contents/search/{{ page_type }}" method="get"></form>
<div class="container mx-auto px-4">
  {% assign qs = "" %}
  {% if request.query.pagesize %}{% assign qs = qs | append: "pagesize=" | append: request.query.pagesize %}{% endif %}
  {% if request.query.page %}{% assign qs = qs | append: "&page=" | append: request.query.page %}{% endif %}
  {% if request.query.language %}{% assign qs = qs | append: "&language=" | append: request.query.language %}{% endif %}
  {% if qs != blank %}{% assign qs = '?' | append: qs %}{% endif %}
  <form id="form-list" action="/admin/pages{{ qs }}" method="post"></form>
  <input form="form-list" type="hidden" name="destination" value="/admin/contents/list/{{ page_type }}{{ qs }}">
  <table id="table" class="table-primary">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody class="">
    {% for item in items %}
      <tr>
        <td><input form='form-list' type="checkbox" name="chk{{item.id}}" /></td>
        <td>{{ forloop.index }}</td>
        <td class="overflow-hidden md:w-full md:max-w-[40rem] max-w-[5rem] leading-4">
          <a href="/admin/{{type.tableName}}/{{item.id}}">{{item.name | truncate: 100}}</a><br>
          <span class="text-xs">{{ tag_types[item.tag_type_id] }}</span></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>