<div class="relative">
    <label for="field-{{ selector }}" class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900"><i class="far fa-calendar-alt"></i> {{ label }}</label>
    <input class="form-control border-0" type="date" name="{{ selector }}" value="{{ value }}" id="field-{{ selector }}" lang="en" max="2200-12-30T00:00" placeholder="{{ placeholder }}"/>
</div>