<script src="https://unpkg.com/htmx.org@2.0.2"></script>
<form id="search" action="/admin/search/pages/{{ page_type }}" method="get"></form>
<div class="container mx-auto px-4">
  {% assign qs = "" %}
  {% if request.query.pagesize %}{% assign qs = qs | append: "pagesize=" | append: request.query.pagesize %}{% endif %}
  {% if request.query.page %}{% assign qs = qs | append: "&page=" | append: request.query.page %}{% endif %}
  {% if request.query.language %}{% assign qs = qs | append: "&language=" | append: request.query.language %}{% endif %}
  {% if qs != blank %}{% assign qs = '?' | append: qs %}{% endif %}
  <form id="form-list" action="/admin/pages{{ qs }}" method="post"></form>
    <input form="form-list" type="hidden" name="destination" value="/admin/contents/list/{{ page_type }}{{ qs }}">
    <table id="table" class="table-primary draggable-table">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th class="text-center">Ordering</th>
        <th class="text-center">Published</th>
        <th class="text-center">Live&nbsp;Ordering</th>
      </tr>
      </thead>
      <tbody class="">
      {% assign items = items | sort: "weight" | reverse %}
      {% for item in items %}
        <tr>
          <td><input form='form-list' type="checkbox" name="chk{{item.id}}" /></td>
          <td>{{ forloop.index }}</td>
          <td>{{ item.id }}</td>
          <td><a href="/admin/{{type.tableName}}/{{item.id}}">{{item.name}}</a><br><span class="text-xs">{{ item.slug }}</span></td>
          <td class="text-center">
            <input form="form-list" type="text" name="({{ item.id }}):weight" value="{{ item.weight }}"
            class="block w-16 me-2 text-center rounded-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
          </td>
          <td class="text-center">
            {% if item.published %}
              {% if item.synced %}<i class="fa-sharp fa-solid fa-circle-check"></i>{% else %}<i class="fa-sharp fa-light fa-arrows-rotate"></i>{% endif %}
            {% else %}
              <button hx-swap="none" hx-post="/admin/pages/{{ item.id }}?language={{ language | default: 'en'}}" name="action" value="publish" class="button-primary">Publish</button>
            {% endif %}
          </td>
          <td class="text-center" style="width:3em" >{{ item.live_weight | default: '-'}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="text-end my-3">
      <button form="form-list" type="submit" class="button-secondary">Save Priority</button>
      <button form="form-list" type="submit" name="action" value="publish_weights" class="button-primary">Publish Priority</button>
    </div>
</div>