{% liquid
  assign label_text = label | strip_html
  assign value_attribute = value | replace:"&", "&amp;" | replace: "<", "&lt;" | replace: ">", '&gt;' | replace: "\"", "&quot;"
  assign placeholder = placeholder | default: label_text | strip_html | truncate: 200 | replace: "&", "&amp;" | replace: "<", "&lt;" | replace: ">", '&gt;' | replace: "\"", "&quot;"
%}

{%- assign label_text = label | strip_html -%}
<div class="relative group col-span-2 text-base text-gray-600 font-sans w-full">
  <label for="field-{{ selector }}" class="hidden">{{ label_text }}</label>
  <textarea type="text" name="{{ selector }}" id="field-{{ selector }}"
            placeholder="{{ placeholder }}"
            rows="{{ rows | default : 4 }}"
            class="w-full"
            {% if form != blank %}form="{{ form }}"{% endif %}
  >{{ value_attribute }}</textarea>
</div>