{% assign controller_slug = section.settings.controller_slug | default: "pages" %}

<div class="sticky top-4 mt-12 mb-6 z-10">
<div class="mx-[4px] inline-flex backdrop-blur rounded-full">
  <span class="text-primary min-w-[16px] md:min-w-[47px] me-[4px] flex justify-center items-center"><i class="fa-sharp fa-light fa-globe"></i></span>

  <div class="inline-block pe-4">
    {% if language == "mis" or language == blank %}<span class="text-primary"><i class="fa-solid fa-book-open"></i></span>{% else %}<button form="{{ form | default: "main-form" }}" type="submit" name="destination" value="/admin/{{ controller_slug }}/{{ item.id }}?language=mis"><i class="fa-light fa-book-open"></i></button>{% endif %}
    {% if language == "en"      %}<span class="font-bold border-b-2 border-primary text-primary">EN</span>{% else %}<button form="{{ form | default: "main-form" }}" type="submit" name="destination" value="/admin/{{ controller_slug }}/{{ item.id }}?language=en">EN</button>{% endif %}
    {% if language == "zh-hant" %}<span class="font-bold border-b-2 border-primary text-primary">繁</span>{% else %}<button form="{{ form | default: "main-form" }}" type="submit" name="destination" value="/admin/{{ controller_slug }}/{{ item.id }}?language=zh-hant">繁</button>{% endif %}
    {% if language == "zh-hans" %}<span class="font-bold border-b-2 border-primary text-primary">简</span>{% else %}<button form="{{ form | default: "main-form" }}" type="submit" name="destination" value="/admin/{{ controller_slug }}/{{ item.id }}?language=zh-hans">简</button>{% endif %}
  </div>
</div>
</div>