<div class="flex flex-row">
    <div>
        {% if language == "en"      %}<span class="font-bold">EN</span>{% else %}<button form="{{ form | default: "main-form" }}" type="submit" name="destination" value="/admin/pages/{{ item.id }}?language=en">EN</button>{% endif %}
        {% if language == "zh-hant" %}<span class="font-bold">繁</span>{% else %}<button form="{{ form | default: "main-form" }}" type="submit" name="destination" value="/admin/pages/{{ item.id }}?language=zh-hant">繁</button>{% endif %}
        {% if language == "zh-hans" %}<span class="font-bold">简</span>{% else %}<button form="{{ form | default: "main-form" }}" type="submit" name="destination" value="/admin/pages/{{ item.id }}?language=zh-hans">简</button>{% endif %}
    </div>
</div>
