{% liquid
    assign label_text = label | strip_html
    assign value_attribute = value.id
%}

<div class="relative">
    {% render 'pagefield/input-label', selector: selector, label: label, icon: icon, form: form %}
    <input type="text" name="{{ selector }}" id="field-{{ selector }}"
           placeholder="Page ID"
           value="{{ value.id }}"
           class="text-ellipsis transition-[background] duration-[50000s] block font-sans font-[400] w-full bg-transparent grow p-0 text-gray-800 placeholder:text-gray-400 placeholder:font-[200] focus:outline-none focus:text-highlight"
           list="{{ label }}_datalist"
           {% if form != blank %}form="{{ form }}"{% endif %}
    >
</div>