{% assign limit_blocks = limits | split : "," %}
<h5><i class="fad fa-th me-2"></i>Content Blocks</h5>

<div id="add-block" class="flex flex-row items-center mb-4 pe-8">
    <div class="relative w-full">
        <label for="block-select"
               class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">Available Blocks</label>
        <select id="block-select" name="block-select" class="block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <option value="">--Please choose a content block--</option>
            {% if limits != blank %}
                {% for block_name in limit_blocks %}
                    <option value="{{ block_name }}">{{ block_name }}</option>
                {% endfor %}
            {% else %}
                {% for block_name in block_names %}
                    <option value="{{ block_name }}">{{ block_name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>

    <div class="ps-4">
        <button type="submit" class="btn btn-primary" name="action" value="block-add">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
        </button>
    </div>
</div>
<ul>

{% assign sortBlocks = blocks | sort : "_weight" %}
{% for block in sortBlocks %}
    {%- assign blockPlaceholder = sortPlaceholders[forloop.index0] -%}
    {%- assign tokens = block.tokens -%}
    {%- capture prefix %}#{{ block._key }}{% endcapture -%}
    {%- assign selector = prefix | append: "@_name" -%}
    <li class="flex flex-row justify-between mb-3 pb-3 border-b border-gray-300 pe-8">
        <div class="flex flex-row me-2 w-[10rem] min-w-[10rem]">
            <div>
                <input name="{{ prefix }}@_weight" value="{{ tokens._weight | default: forloop.index0 }}" pattern="[0-9.]+" class="block w-10 me-2 text-center rounded-full border-0 py-1.5 text-white bg-gray-500 shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
            </div>
            <div>
                {% render 'pagefield/text/basic', label: tokens._type, pattern: "[a-z0-9_-]+", selector:selector, value: tokens._name, placeholder: "key" %}
            </div>
        </div>

        <div class="flex flex-row w-full">
            {% assign placeholder_key = "__" | append: tokens._name %}
            {% assign tpl = block_templates[tokens._type] | default: 'blocks/share/edit-scaffold' %}
            {% render tpl, page_id: page_id, tokens: tokens, block_index: block._key, placeholder: placeholder[placeholder_key], blueprint: blocks_blueprint[tokens._type], inputs: inputs %}
        </div>

        <div class="ps-4 pt-[0.40rem]">
            {% render 'page/edit/block/delete', page_id: page_id, index: block._key %}
        </div>
    </li>
{% endfor %}
</ul>