<form id="main-form" action="/admin/tags/{{ item.id }}?language={{ language |  default: "en" }}" method="post"
      class="bg-neutral-700 text-white"
>
  <div id="page-attributes" class="p-4 mb-4">
    <input type="checkbox" class="peer hidden" data-state-store="true" checked="checked" id="panel_attributes">
    <label class="cursor-pointer select-none text-xl font-serif me-2" for="panel_attributes"><i class="fa-regular fa-gear"></i> Settings</label>
    <label for="panel_attributes" class="select-none cursor-pointer float-end peer-checked:hidden inline"><i class="fa-thin fa-chevron-down" aria-hidden="true"></i></label>
    <label for="panel_attributes" class="select-none cursor-pointer float-end peer-checked:inline hidden"><i class="fa-thin fa-chevron-up" aria-hidden="true"></i></label>

    <div class="hidden peer-checked:block mt-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
<div class="relative">
  <label
      for="tagtypes"
      class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900"
  >Tag Type</label>
  <select
      id="tagtypes"
      name=":tag_type_id"
      required
      class="block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"
  >
    <option value="">Please Select</option>
    {% for type in tag_types %}
      <option value="{{ type.id }}" {% if type.id == item.tag_type_id %}selected="selected"{% endif %}>{{ type.name }}</option>
    {% endfor %}
  </select>
</div>
<div class="relative page-field-auto-complete">
{% if tags %}
    <label for="parent_tag"
           class="absolute -top-2 ms-2 inline-block bg-white px-1 text-xs font-medium text-gray-900"
    >Parent Tag</label>
    <input type="text"
           id="parent_tag"
           list="taglist"
           value="{% if item.parent_tag %}{{ item.parent_tag.value | escape }} ( {{ item.parent_tag.name | escape }} ){% endif %}"
           placeholder="search"
           class="w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
    />
    <input type="hidden" class="page-field-auto-complete-value" value="{{ item.parent_tag.id }}" name=":parent_tag" />
    <datalist id="taglist">
      {% for tag in tags %}
        {% if tag.id != item.id %}
          <option value="{{ tag.value | escape }} ( {{ tag.name | escape }} )" data-id="{{ tag.id }}" />
        {% endif %}
      {% endfor %}
    </datalist>
{% endif %}
</div>

      </div>
    </div>
  </div>

  <div class="container mx-auto">
    <div class="flex lg:flex-row flex-col">
      <div class="lg:w-9/12 lg:pe-4">
        <div class="mb-4 button-secondary sticky top-20 z-10">
          {% render "tag/edit/language", language: language, form: "main-form" %}
        </div>

        <div>
          {% render 'page/edit/field-row', type: "text/basic", label: "Name", selector:".name", value: tokens.name, placeholder: placeholders.name %}
        </div>
      </div>
    </div>
  </div>
</form>