{%- assign label_text = label | strip_html -%}
<div class="relative">
    {% render 'pagefield/input-label', selector: selector, label:label, icon:icon %}
    <div>
        <input type="text" name="{{ selector }}__label" id="field-{{ selector }}"
               placeholder="{{ placeholder.label | default: 'label' }}"
               class="block w-full border-0 p-0 font-light bg-transparent focus:border-0 focus:ring-2 focus:ring-inset focus:ring-transparent {{ class_name }}"
               value="{{ value.label | replace:"&", "&amp;" | replace: "<", "&lt;" | replace: ">", '&gt;' | replace: "\"", "&quot;" }}">
        <input type="text" name="{{ selector }}__url" id="field-{{ selector }}-url"
               placeholder="{{ placeholder.url | default: "https://example.com" }}"
               class="block w-full border-0 p-0 font-light bg-transparent focus:border-0 focus:ring-2 focus:ring-inset focus:ring-transparent text-xs{{ class_name }}"
               value="{{ value.url | replace:"&", "&amp;" | replace: "<", "&lt;" | replace: ">", '&gt;' | replace: "\"", "&quot;" }}">
    </div>
</div>