{%- assign label_text = label | strip_html -%}
{%- assign value_attribute = value | replace:"&", "&amp;" | replace: "<", "&lt;" | replace: ">", '&gt;' | replace: "\"", "&quot;" -%}
<div class="relative w-full group input-editable">
  {% render 'pagefield/input-label', selector: selector, label:label, icon:icon %}
  <input type="text" name="{{ selector }}" id="field-{{ selector }}"
         value="{{ value_attribute }}"
         placeholder="{{ placeholder | default: label_text | replace: "&", "&amp;" | replace: "<", "&lt;" | replace: ">", '&gt;' | replace: "\"", "&quot;" }}"
         class="hidden"
  >
  {%- if value == blank -%}
    <div class="opacity-25 pointer-events-none absolute top-0">{{ label }}</div>
  {%- endif -%}
  <div class="block w-full max-h-[5.5rem] overflow-hidden border-0 p-0 bg-transparent focus:border-0 focus:ring-0 focus:ring-inset focus:ring-transparent outline-0 outline-transparent {{ class_name }}" contenteditable="true">{{ value }}</div>
</div>