{%- liquid
   assign prefix = prefix | default:"prefix"
   assign value = weight | default: "0"
   assign id = prefix | append: "@_weight" | md5
-%}

<div>
   <label for="{{ id }}" class="hidden">weight</label>
   <input id="{{ id }}" name="{{ prefix }}@_weight" value="{{ value }}" pattern="[0-9]+"
          class="w-8 text-center border border-gray-200 rounded-s-full ps-2 pe-1 py-1 text-sm"
          {% if form != blank %}form="{{ form }}"{% endif %}
   />
</div>